* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  background-image:url("../assets/img/Layer_1-2.png");
  background-color: #2F4247;
  background-position: center bottom -7rem;
  background-repeat:no-repeat;
  background-size: contain;
}
.main {
  position: relative;
}
.grid {
  display: grid;
}

.grid--2--cols {
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.secondary__title {
  font-family: "TBCContracticaRegularCAPS";
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.9rem;
  margin-bottom: 2.4rem;
  color: #fff;
}
