/* ////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////// */
/* GENERAL SECTION */
/* ////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////// */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  position: relative;
}

@font-face {
  font-family: "TBCContracticaRegular";
  src: url("../assets/fonts/contractica-fonts/TBCContractica-Regular.ttf");
}
@font-face {
  font-family: "TBCContracticaRegularCAPS";
  src: url("../assets/fonts/contractica-fonts/TBCContracticaCAPS-Regular.ttf");
}
body {
  position: relative;
  background-color: #081f3a;
  background-image: url("../assets/img/main-background-pattern.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
}
.grid {
  display: grid;
}

.grid--2--cols {
  grid-template-columns: repeat(2, 1fr);
}

.secondary__title {
  font-family: "TBCContracticaRegularCAPS";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 2.3rem;
  color: rgb(255 255 255);
}
.margin-l-md {
  margin-left: 4.7rem;
}
/* ////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////// */
/* HEADER SECTION */
/* ////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////// */

.header {
  display: flex;
  background-color: #282828;
  padding: 4.5rem 14rem;
  align-items: center;
  justify-content: space-between;
}

.header__logos {
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.navigation__links {
  list-style-type: none;
}

.navigation__anchor:link,
.navigation__anchor:visited {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  font-style: normal;
  font-family: "TBCContracticaRegularCAPS";
  color: #ffff;
}

/* ////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////// */
/* MAIN SECTION */
/* ////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////// */

.main__content {
  padding: 6.4rem 14rem;
}
.main__content__welcome__text {
  padding: 6rem 8rem;
  background-color: rgb(80, 103, 120, 0.3);
  border-radius: 5rem;
}

.main__content__welcome__text,
.main__content__about__chat__bot {
  position: relative;
}
.Una-Name {
  font-family: "TBCContracticaRegularCAPS";
  font-size: 2rem;
  font-weight: bolder;
}
.main__title {
  font-family: "TBCContracticaRegularCAPS";
  font-size: 2.4rem;
  font-weight: 700;
  color: rgb(255 255 255);
  margin-bottom: 2.2rem;
}
.main__paragraphs__section {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.main__paragraphs {
  font-family: "TBCContracticaRegular";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  color: rgb(255 255 255);
  line-height: 2.4rem;
}
.more__btn__div {
  display: none;
  text-align: end;
}
.more__btn {
  display: inline-block;
  font-family: "TBCContracticaRegular";
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: underline;
  background: none;
  color: #fff;
  border: none;
  cursor: pointer;
}
.introduction {
  margin-bottom: 2.4rem;
}
.capability {
  margin-bottom: 4.8rem;
}

.more__anchor {
  display: flex;
  align-items: center;
  font-family: "TBCContracticaRegularCAPS";
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.4rem;
  text-decoration-line: underline;
  color: rgb(255 255 255);
  margin-top: 3.6rem;
}

.chat--start {
  margin-top: 6.4rem;
}

.chat__start__btn {
  display: inline-block;
  backdrop-filter: blur(20px);
  background-color: #fff;
  border-radius: 3rem;
  text-decoration: none;
  font-family: "TBCContracticaRegularCAPS";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  color: #081f3a;
  padding: 2.7rem 6.1rem 2.7rem 6.1rem;
  gap: 2rem;
  cursor: pointer;
}

.una__img--container {
  position: relative;
  justify-self: flex-end;
}
.una--img {
  max-width: 100%;
}
.start__chat {
  position: fixed;
  bottom: 3.2rem;
  right: 13.5rem;
}
.start__chat--btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  width: 9.6rem;
  height: 9.6rem;
}
.start__chat__img {
  width: 4.3rem;
  height: 4.3rem;
}

.box {
  background-color: #fff;
  padding: 3rem;
  border-radius: 48%;
}

.close__btn {
  font-size: 4.3rem;
}
/* ABOUT SECTION */
.about__info {
  padding: 9.6rem 14rem;
}
.about__una {
  padding: 6.4rem 14rem;
  background-color: rgb(80, 103, 120, 0.3);
  border-radius: 3rem;
}
.more__btn--about__div{
  display: none;
}
.headline {
  font-family: "TBCContracticaRegularCAPS";
  font-weight: 700;
  font-size: 2.4rem;
  color: rgb(255 255 255);
  margin-bottom: 3.2rem;
}

.about__paragraph {
  font-family: "TBCContracticaRegularCAPS";
  text-align: justify;
  font-weight: 500;
  font-size: 1.6rem;
  color: rgb(255 255 255);
  line-height: 2.4rem;
}

.partners__title {
  font-family: "TBCContracticaRegularCAPS";
  font-weight: 700;
  font-size: 1.6rem;
  color: rgb(255 255 255);
  text-align: center;
  margin-bottom: 6.4rem;
}

.partners__logos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: baseline;
  padding: 0 1rem;
}

.unabot__iliauni:link,
.unabot__iliauni:visited {
  color: #fff;
}

/* FOOTER */

footer {
  background-color: #282828;
  padding: 6rem 27.8rem;
}
.footer__flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__partners {
  font-family: "TBCContracticaRegular";
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
}
.footer__logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6.4rem;
}
.footer__contacts {
  display: flex;
  justify-content: center;
  gap: 5.5rem;
  color: #fff;
}
.contacts {
  display: grid;
  gap: 1.2rem;
}
.contact__paragraph,
.contacts__li {
  font-family: "TBCContracticaRegular";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
}

.contacts__ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.img__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.2rem;
}
.info__links:link,
.info__links:visited {
  font-family: "TBCContracticaRegular";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  color: #fff;
}


/* Chatbot code  */

.chatbot__container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 9999;
  bottom: 3.2rem;
  right: 13.5rem;
}

.chatbot__btn {
  background-color: rgb(255 255 255);
  border-radius: 50%;
  position: relative;
  width: 9.6rem;
  height: 9.6rem;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}

.chatbot__btn::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.chatbot__open__btn {
  background: url("../assets/img/Combined-Shape-path.png") no-repeat center;
  background-size: contain;
  width: 4.3rem;
  height: 4.3rem;
}

.chatbot__close__btn {
  background: url("../assets/img/closeBtnIcon.png") no-repeat center;
  background-size: contain;
  width: 4.3rem;
  height: 4.3rem;
}

#chatbotIframe {
  width: 370px;
  max-width: 100%;
  height: 480px;
}

/* MEDIA QUERIES */
@media (max-width: 1700px) {
  body {
    background-image: url("../assets/img/background-pattern-medium.png");
    background-size: auto;
    background-position: right top;
  }
  .main__content__welcome__text {
    backdrop-filter: blur(10px);
  }
}
@media (max-width: 1699px) {
  body {
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 1500px) {
  html {
    font-size: 55.25%;
  }
  body {
    background-size: auto;
  }
  .main__content__welcome__text {
    padding: 3.6rem 2.5rem;
    border-radius: 2rem;
    background-color: rgb(80 103 120 / 30%);
  }
  footer {
    padding: 5.4rem 16rem;
  }
  .grid--2--cols {
    gap: 9.9rem;
  }
  .una__img--container {
    justify-self: center;
    align-self: center;
  }
  .about__info {
    padding: 9.6rem 13rem;
  }
  .about__una {
    padding: 7.4rem 7.8rem;
    width: 98rem;
    max-width: 100%;
  }
  .chatbot__container {
    right: 4.3rem;
  }
}

@media (max-width: 1090px) {
  body {
    background-image: url("../assets/img/tablet-1-pattern.png");
    background-position: top;
    background-size: auto;
  }
  .main__content {
    padding: 5.4rem 7rem;
  }
  .chatbot__container {
    right: 6.8rem;
  }
  .footer__contacts {
    flex-direction: column;
    gap: 4rem;
  }
  footer {
    padding: 6.4rem 14.5rem;
  }
  .about__paragraph {
    text-align: justify;
  }

  .about__info {
    padding: 9.6rem 6rem;
  }
}

@media (max-width: 990px) {
  body {
    background-image: url("../assets/img/tablet-background.png");
    background-position: top;
  }
  .main__content__welcome__text {
    backdrop-filter: blur(0px);
  }
  .main__content {
    position: relative;
  }
  .grid--2--cols {
    gap: 0;
  }
  .una__img--container {
    position: absolute;
    top: 7rem;
    right: 10rem;
  }

  .main__content__welcome__text {
    grid-column: 1 / span 2;
  }
  .footer__flexbox {
    flex-direction: column;
  }
  .footer__partners {
    text-align: center;
    margin-bottom: 2.4rem;
  }
  .about__una {
    padding: 3.2rem 4.8rem;
  }
  .about__info {
    padding: 8.1rem 6rem;
  }
  .chat__start__btn {
    margin-top: 0;
  }
}

@media (max-width: 660px) {
  .about__span {
    display: none;
  }
}

@media (max-width: 620px) {
  .header {
    padding: 4.6rem 3.8rem;
  }
  html {
    font-size: 50%;
  }
}
@media (max-width: 540px) {
  .una__img--container {
    position: absolute;
    top: 6rem;
    right: 9rem;
  }
}
@media (max-width: 490px) {
  body {
    background-image: url("../assets/img/mobile-2-pattern.png");
    background-position: right top 18rem;
    background-size: contain;
  }
  .chat__start__btn {
    padding: 2.7rem 6rem;
  }
  .chat--start {
    grid-column: 1 / span 2;
  }
  .chatbot__container {
    right: 0;
  }
  .about__una {
    position: relative;
  }
  .chatbot__btn {
    width: 6.6rem;
    height: 6.6rem;
  }
  .more__para,
  .more__about__para {
    display: none;
  }
  .more__btn--about__div {
    text-align: end;
    display: block;
  }
  .more__btn--about {
    display: inline-block;
    font-family: "TBCContracticaRegular";
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: underline;
    background: none;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  .more__paragraph {
    display: none;
  }
  .more__btn__div {
    display: block;
    position: absolute;
    right: 2rem;
    bottom: 1.5rem;
  }
}

@media (max-width: 430px) {
  .chat__start__btn {
    width: 100%;
    text-align: center;
    padding: 2.7rem 6rem;
  }
  .main__content {
    padding: 5.5rem 3.5rem;
  }
  .main__content__welcome__text {
    padding: 2.4rem 1.1rem;
  }
  .una__img--container {
    position: absolute;
    top: 7rem;
    right: 4rem;
  }
  .footer__partners {
    display: none;
  }
  .about__una {
    padding: 2.4rem 1.3rem;
  }
  .footer__logos {
    margin-bottom: 1rem;
  }
}
