/* ////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////// */
/* GENERAL SECTION */
/* ////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////// */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  background-image: url("../assets/img/Layer_1-2.png");
  background-color: #2f4247;
  background-position: center bottom -7rem;
  background-repeat: no-repeat;
  background-size: contain;
}
@font-face {
  font-family: "TBCContracticaRegular";
  src: url("../assets/fonts/contractica-fonts/TBCContractica-Regular.ttf");
}
@font-face {
  font-family: "TBCContracticaRegularCAPS";
  src: url("../assets/fonts/contractica-fonts/TBCContracticaCAPS-Regular.ttf");
}
.main {
  position: relative;
}
.grid {
  display: grid;
}

.grid--2--cols {
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.secondary__title {
  font-family: "TBCContracticaRegularCAPS";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.9rem;
  margin-bottom: 2.3rem;
  color: rgb(255 255 255);
}

/* ////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////// */
/* HEADER SECTION */
/* ////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////// */

.header {
  display: flex;
  background-color: #6a7679;
  padding: 3.2rem 14rem;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__logos {
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.navigation__links {
  list-style-type: none;
}

.navigation__anchor:link,
.navigation__anchor:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  font-style: normal;
  font-family: "TBCContracticaRegularCAPS";
  color: #ffff;
}

/* ////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////// */
/* MAIN SECTION */
/* ////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////// */

.main__content {
  padding: 9.6rem 14rem;
  background-image: url(../assets/img/Circles.png),
    url(../assets/img/CirclesRotate.png);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom -3rem left -6rem, right 3rem top 16rem;
}
.main__content__welcome__text,
.main__content__about__chat__bot {
  position: relative;
}
.Una-Name {
  font-family: "TBCContracticaRegularCAPS";
  font-size: 2rem;
  font-weight: bolder;
}
.main__title {
  font-family: "TBCContracticaRegularCAPS";
  font-size: 2.4rem;
  font-weight: 700;
  color: rgb(255 255 255);
  margin-bottom: 2.2rem;
}
.underline {
  width: 20rem;
  height: 4px;
  background-color: #8b83ed;
  margin-bottom: 1.9rem;
  border-radius: 1.5rem;
}
.main__paragraphs__section {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.main__paragraphs {
  font-family: "TBCContracticaRegular";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  color: rgb(255 255 255);
}
.introduction {
  margin-bottom: 3.1rem;
}
.capability {
  margin-bottom: 6rem;
}

.more__anchor {
  display: flex;
  align-items: center;
  font-family: "TBCContracticaRegularCAPS";
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.4rem;
  text-decoration-line: underline;
  color: rgb(255 255 255);
  margin-top: 3.6rem;
}

.chat__start__btn {
  display: inline-flex;
  align-items: center;
  background: #6a7679;
  border-radius: 0.8rem;
  text-decoration: none;
  font-family: "TBCContracticaRegular";
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  color: rgb(255 255 255);
  padding: 1.8rem 2rem 2.2rem 2rem;
  gap: 2rem;
  margin-top: 8.6rem;
}

.una__img--container {
  position: relative;
  justify-self: flex-end;
}

/* Position absolutes */

.hand__logo {
  position: absolute;
  top: -3rem;
  left: 28rem;
}

.atom__logo {
  position: absolute;
  top: -2rem;
  right: 0;
}

.brain__logo {
  position: absolute;
  top: -5rem;
  left: -5rem;
}

/* /////////////////////////////////////////// */

.start__chat {
  position: absolute;
  bottom: 3.2rem;
  right: 17.6rem;
}
.start__chat--btn {
  background: none;
  border: none;
  cursor: pointer;
}

.sb3:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #6a7679;
  border-right: 10px solid transparent;
  border-top: 10px solid #6a7679;
  border-bottom: 10px solid transparent;
  left: 0;
  bottom: -14px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 1rem;
  margin: 50px auto;
  background: #6a7679;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  color: rgb(255 255 255);
  position: relative;
}
